:root {
  --background: #f7f4ee;
  --foreground: #171717;

  --navHeight: 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f4ee;
    --foreground: #ededed;

    --navHeight: 100px;
  }
}

main {
  /* background-color: var(--background); */
  /* width: 100%;
  height: 100%; */
}

body {
  width: 100vw;
  height: 100vh;
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
